.heading-primary {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 8rem;
  margin-top: 8rem;
}
.heading-secondary {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 3.5rem;
}
