$color-primary: #b0c48f;
$color-primary-light: #def7b5;
$color-primary-dark: #5e7834;

$color-yes: #889e64;
$color-no: #eba394;

$color-text-dark: #606b4e;
$color-text-light: #eee;

$color-black: #222;

$default-font-size: 1.6rem;

$box-shadow-1: 0 0.4rem 1rem rgba($color-black, 0.15);
