body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #def7b5;
  box-sizing: border-box;
  color: #606b4e;
}

h2,
h3 {
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.233);
  margin-bottom: 30px;
}
h3 {
  font-size: 28px;
  margin-bottom: 50px;
}

button {
  padding: 5px 30px;
  font-size: 30px;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.055);
  font-family: 'Dancing Script', cursive;
  color: #def7b5;
  background-color: #606b4e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.233);
  border-radius: 6px;
  border: none;
  margin: 15px 0px;
}

header {
  margin-bottom: 30px;
}

/* Customize the label (the container) */
.radio-btn-container {
  display: flex;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  align-items: flex-start;
}

/* Hide the browser's default radio button */
.radio-btn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  display: flex;
  margin-right: 8px;
  height: 16px;
  width: 16px;
  border: 2px solid #606b4e;
  border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.radio-btn-container:hover input ~ .checkmark {
  background-color: #606b4e;
}

/* When the radio button is checked, add a blue background */
.radio-btn-container input:checked ~ .checkmark {
  background-color: #606b4e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-btn-container input:checked ~ .checkmark:after {
  display: flex;
}

/* Style the indicator (dot/circle) */
.radio-btn-container .checkmark:after {
  width: 8px;
  height: 8px;
  border-radius: 6px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container div {
  margin-bottom: 20px;
  font-weight: bold;
}

#game-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.set-difficulty,
.set-continent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 0 20px;
}

@media only screen and (max-width: 650px) {
  .radio-btn-container {
    padding-left: 25px;
    font-size: 14px;
  }
  .checkmark {
    height: 12px;
    width: 12px;
    border: 2px solid #606b4e;
    border-radius: 6px;
  }
}

.game-container {
  margin: auto;
  max-width: 750px;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  border-radius: 6px;
  /* box-shadow: 0 10px 40px rgba(0, 0, 0, 0.233); */
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card {
  display: flex;
  margin: 5px;
  flex-basis: 100px;
  width: 100px;
  height: 100px;
  border-radius: 6px;
  border: 4px solid transparent;
  overflow: hidden;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.096);
  align-content: center;
  background-color: transparent;
  perspective: 1000px; /*Remove this if you don't want the 3D effect */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* This container is needed to position the front and back side */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip .card-inner {
  transform: rotateY(180deg);
}

.hidden {
  visibility: hidden;
}

.match {
  transition: border 0.8s linear 0.8s;
  border: 4px solid #889e64;
}
.no-match {
  transition: border 0.8s linear 0.8s;
  border: 4px solid #eba394;
}

/* Position the front and back side */
.card-front,
.card-back {
  background-color: #d3ebac;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
  font-family: 'Dancing Script', cursive;
  color: #6e6e6e;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the back side */
.card-back {
  color: #6e6e6e;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}
.run-container {
  opacity: 0;
  display: flex;
  max-width: 650px;
  margin: auto;
  padding: 0 20px;
  justify-content: space-around;
  margin-bottom: 30px;
}
.moves,
.matches {
  font-size: 16px;
  font-weight: bold;
}

.win {
  color: #6e6e6e;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.233);
  position: absolute;
  top: 0px;
  width: 900px;
  height: 350px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
