.btn {
  padding: 1rem 3rem;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  color: $color-primary-light;
  background-color: $color-text-dark;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3);

  border-radius: 2rem;
  border: none;
  margin: 1.5rem 0px;
  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
  }
  &:active {
    outline: none;
    transform: translateY(0);
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
  }
  &:focus {
    outline: none;
  }
}
